services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: sdisk
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - sdisk_pg:/var/lib/postgresql/data
volumes:
  sdisk_pg:
